{
    --color-nextbay-bg: #181b1c;
    --color-nextbay-001: #001a23; /* ink black */
    --color-nextbay-002: #31493c; /* pine teal */
    --color-nextbay-003: #7a9e7e; /* muted teal */
    --color-nextbay-004: #b3efb2; /* celadon */
    --color-nextbay-005: #e8f1f2; /* alice blue */
    --color-nextbay-006: #e8892a; /* tiger orange */
    --color-nextbay-input-bg: #000b0eff;
    --accent-1: #6e4e9e;
    --accent-3: #e14b3c;
}